
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: lightblue; */
  color: goldenrod;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1025px) {
  .about-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  img .bio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* display: inline-block;
    text-wrap: left; */
  }
  p {
    margin-right: 20%;
  }
  form {
    max-width: 60%;
  }
}

header {
  display: flex;
  background-color: slategray;
  }

body {
  min-height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav {
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.seal {
  color: peachpuff;
  background-color: slategray;
  font-weight: bolder;
  font-size: larger;
  margin-left: 10px;
}

h1 {
  text-align: left;
  padding: 10px;
}

.home-bg {
  width: 100%;
  padding-top: 15px;
}
.title {
  padding: 10px;
}

div {
  padding: 10px;
  justify-content: flex-end;
}

h2 {
  min-width: 100px;
}

.bio {
  /* min-width: 200px;
  min-height: 100px;
  max-height: 200px;
  max-width: 300px; */
  width: 300px;
  height: auto;
  float: right;
  border: solid 2px;
  margin: 10px;
}

.bio-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 70%;
  
}

form {
  border: 1px transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px;
}
